# generic
*.lock
dist/*
**/dist/*
build/*
**/build/*
target/*
**/target/*
classes/*
**/classes/*
out/*
**/out/*
build.properties

# intellij
*.iml
.idea/*
**/.idea/*

# gradle
.gradle/*
**/.gradle/*
gradle.properties
